:root {
  --primary1: #000000;
  --primary2: #FFFFFF;
  --secondary1: #808080;
  --secondary2: #CCCCCC;
  --wheelRotation: 0deg;
}

html {
  font-size: max(1.2vmin, 0.75vmax);
  font-family: "Commissioner", sans-serif;
}

button {
  position: relative;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-optical-sizing: auto;
  text-wrap: pretty;
}

@keyframes visible {
  from {
    opacity: 0;
    translate: 0 1rem;
  }

  to {
    opacity: 1;
    translate: 0;
  }
}

html,
body,
main {
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.hiddenWrapper {
  position: fixed;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
  z-index: 1000;
  pointer-events: none;
}


#loaderScreen {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: var(--primary1);
  z-index: 1000;
  transition: 0.5s;
}

.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  position: relative;
  animation: rotate 1s linear infinite;
}

.loader::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  inset: 0px;
  border-radius: 50%;
  border: 5px solid var(--secondary2);
  animation: prixClipFix 2s linear infinite;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg)
  }
}

@keyframes prixClipFix {
  0% {
    clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0)
  }

  25% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0)
  }

  50% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%)
  }

  75% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%)
  }

  100% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 0)
  }
}

#layout {
  transition: all 0.5s;
}

#layout>*,
#content>*:not(.wheel),
.title>* {
  transition: all 0.5s;
  transition: color none;
}
#layout>*,
#content>*:not(.title) {
  will-change: top, left, bottom, right, transform
}

canvas {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

#overlay {
  display: block;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  padding: 2rem;
  transition: 0.5s;
}

.han,
.viet,
.eng,
.wheel,
.date {
  pointer-events: auto;
  cursor: pointer;
}

.han.date:hover,
.viet.date:hover,
.eng.date:hover,
.wheel.date:hover,
.date:hover {
  pointer-events: auto;
  cursor: pointer;
}

nav {
  position: absolute;
  display: flex;
  bottom: 2rem;
  width: calc(100% - 4rem);
  justify-content: space-between;
  text-transform: uppercase;
  color: var(--secondary2);
  font-family: "Commissioner", sans-serif;
  font-size: 1rem;
  font-weight: 600;
  transition: 0.5s;
}

nav>p {
  padding: 0;
  margin: 0;
  width: 100%;
}

nav p:nth-child(1) {
  text-align: left;
}

nav p:nth-child(2) {
  text-align: center;
}

nav p:nth-child(3) {
  text-align: right;
}

.date {
  position: fixed;
  text-align: center;
  text-transform: uppercase;
  color: var(--secondary2);
  font-family: "Commissioner", sans-serif;
  font-size: 1rem;
  font-weight: 600;
  top: 2rem;
  left: 50%;
  transform: translateX(-50%);
  margin: 0;
  padding: 0;
  white-space: nowrap;
}

#arrow {
  align-self: flex-end;
}

#starter {
  display: flex;
  position: fixed;
  flex-direction: column;
  gap: 2rem;
  align-content: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background: var(--primary2);
  color: var(--primary1);
  align-items: center;
  z-index: 101;
  text-align: center;
  opacity: 1;
  transform: translateY(100%);
  transition: 1s;
  pointer-events: auto;
  cursor: pointer;
}

#starter.visible {
  transform: translateY(0);
  opacity: 1;
  z-index: 100;
}

#starter h4 {
  width: 75vmin;
  font-family: "Commissioner", sans-serif;
  font-size: 2.5rem;
}

#starter p {
  font-family: "Commissioner", sans-serif;
  font-size: 1rem;
  color: var(--secondary1);
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 600;
}

#content {
  z-index: 100;
}

.wheel {
  position: absolute;
  aspect-ratio: 1;
  height: 50rem;
  width: 50rem;
  left: 50%;
  top: 50%;
  transform: translate3d(-50%, -50%, 0) rotate(calc(var(--wheelRotation)*-1));
  transition: none;
  z-index: -1;
}

.wheel>* {
  transition: 0.5s;
}

.cls-1 {
  fill: none;
}

.cls-1,
.cls-2 {
  stroke: var(--secondary1);
  stroke-miterlimit: 10;
}

.cls-2 {
  fill: var(--secondary1);
}

.cls-3 {
  fill: var(--primary1);
  stroke: var(--secondary1);
  stroke-miterlimit: 10;
}

.layoutA {
  background: var(--primary1);
}

.layoutA *::-moz-selection {
  /* Code for Firefox */
  color: var(--primary2);
  background: var(--secondary1);
}

.layoutA *::selection {
  color: var(--primary2);
  background: var(--secondary1);
}

.layoutA .title {
  display: flex;
  flex-direction: column;
  position: absolute;
  align-items: center;
  gap: 5rem;
  margin: 0;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
}

.layoutA .han {
  color: var(--primary2);
  font-size: 16rem;
  font-family: "Noto Serif TC", serif;
  transform: translateY(-1rem);
  line-height: 1;
  white-space: nowrap;
}

.layoutA .viet,
.layoutA .eng {
  font-family: "Commissioner", sans-serif;
  text-transform: uppercase;
  color: var(--secondary1);
  font-size: 1.5rem;
  white-space: nowrap;
  text-align: center;
  width: 100%;
}

.layoutA .poem {
  display: flex;
  position: absolute;
  justify-content: space-between;
  text-align: center;
  font-family: 'Commissioner', sans-serif;
  font-size: 1rem;
  text-transform: uppercase;
  line-height: 1.5;
  left: 50%;
  top: 50%;
  width: 96%;
  transform: translate3d(-50%, -50%, 0);
  color: var(--primary2);
}

.layoutA .poem>* {
  background: radial-gradient(var(--primary1) 30%, rgba(255, 255, 255, 0) 60%);
  /*backdrop-filter: blur(0.5rem);*/
  padding: 6rem;
}

.layoutB {
  background: var(--primary2);
}

.layoutB *::-moz-selection {
  /* Code for Firefox */
  color: var(--primary1);
  background: var(--secondary2);
}

.layoutB *::selection {
  color: var(--primary1);
  background: var(--secondary2);
}

.layoutB .wheel {
  left: 5rem;
}

.layoutB .cls-1 {
  fill: none;
}

.layoutB .cls-1,
.layoutB .cls-2 {
  stroke: var(--secondary2);
  stroke-miterlimit: 10;
}

.layoutB .cls-2 {
  fill: var(--secondary2);
}

.layoutB .cls-3,
.layoutC .cls-3 {
  display: none
}

.layoutB .date,
.layoutB nav {
  color: var(--secondary1);
}

.layoutB .han {
  position: absolute;
  writing-mode: vertical-rl;
  text-orientation: upright;
  font-size: 8rem;
  font-family: "Noto Serif TC", serif;
  right: 2rem;
  color: var(--secondary2)
}

.layoutB .viet,
.layoutB .eng {
  color: var(--secondary1);
  font-family: "Commissioner", sans-serif;
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
}

.layoutB .poem {
  position: absolute;
  width: 100%;
  margin: 0;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  font-size: 3rem;
  font-family: "Philosopher", sans-serif;
  font-weight: 400;
  text-align: center;
  color: var(--primary1);
  background: radial-gradient(var(--primary2) 25%, rgba(255, 255, 255, 0) 75%);
  padding: 10rem 3rem;
  transition: 0.5s;
}

.layoutC {
  background: var(--primary1);
}

.layoutC *::-moz-selection {
  /* Code for Firefox */
  color: var(--primary2);
  background: var(--secondary1);
}

.layoutC *::selection {
  color: var(--primary2);
  background: var(--secondary1);
}

.layoutC .wheel {
  left: initial;
  right: 5rem;
  top: 5rem;
  transform: translate3d(50%, -50%, 0) rotate(calc(var(--wheelRotation)*-1));
}

.layoutC .title {
  display: grid;
  grid-template-columns: 5.6rem auto;
  grid-template-rows: auto 4rem;
  max-width: calc((100% - 8rem)/4 - 2rem);

  flex: none;
  order: 0;
  flex-grow: 0;
}

.layoutC .title.short {
  max-width: calc((100% - 8rem)/7*2);
}

.layoutC h3 {
  color: var(--secondary2);
}

.layoutC .han {
  writing-mode: vertical-rl;
  text-orientation: upright;
  font-size: 3rem;
  font-family: "Noto Serif TC", serif;
  grid-row: 1;
  grid-column: 1;
  justify-self: start;
  transform: translateY(1.2rem);
}

.layoutC .viet {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  font-family: 'Commissioner', sans-serif;
}

.layoutC .viet>* {
  font-family: 'Ojuju', serif;
  font-style: normal;
  font-weight: 700;
  font-size: 8rem;
  text-transform: capitalize;
  line-height: 1;
  color: var(--primary2);
  width: 100%;
}

.layoutC .viet> :nth-child(1) {
  text-align: left;
}

.layoutC .viet> :nth-last-child(1) {
  text-align: right;
}

.layoutC .eng {
  grid-row: 2;
  grid-column: 1 / span 2;
  text-align: right;
  align-self: end;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-family: 'Commissioner', sans-serif;
}

.layoutC .poem {
  position: absolute;
  right: 2rem;
  bottom: 8rem;
  font-size: 1.8rem;
  line-height: 1.5;
  color: var(--primary2);
  font-family: 'Commissioner', sans-serif;
  font-style: normal;
  font-weight: 400;
  min-width: calc((100% - 8rem)/3);
  background: linear-gradient(90deg, var(--primary1) 25%, rgba(255, 255, 255, 0) 100%);
  padding: 1rem;
  margin: 1rem;
  border-radius: 1rem;
}

nav {
  -webkit-user-select: none;
  /* Safari */
  -ms-user-select: none;
  /* IE 10 and IE 11 */
  user-select: none;
  /* Standard syntax */
}

#textureContainer {
  position: fixed;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 1005;
  mix-blend-mode: soft-light;
}

#indexScreen {
  display: flex;
  flex-direction: column;
  position: absolute;
  gap: 6rem;
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  align-items: center;
  padding: 8rem 2rem;
  background: var(--secondary1);
  font-family: "Commissioner", sans-serif;
  font-size: 1.5rem;
  color: var(--primary2);
  z-index: 100;
  overflow-y: auto;
  scrollbar-color: var(--primary2) var(--secondary1);
  transform: translateY(100%);
  opacity: 0;
  transition: 0.5s
}

#indexScreen.visible {
  transform: translateY(0);
  opacity: 1;
  z-index: 100;
  transition: 0.5s;
}

#indexScreen nav {
  color: var(--primary2);
  position: fixed;
  z-index: 100;
  top: 2rem;
  pointer-events: auto;
  cursor: pointer;
  height: 2rem;
}


#termIndex {
  max-width: min(50vh,100vw);
  gap: 1rem;
  border-collapse: collapse;
  pointer-events: auto;
  cursor: pointer;
}

th,
td {
  padding: 1rem;
  text-align: left;
}

tr:hover {
  background-color: var(--primary1);
  pointer-events: auto;
  cursor: pointer;
}

tr.highlighted {
  background-color: var(--secondary1);
}


#about, #credits {
  display: flex;
  position: fixed;
  justify-content: center;
  background: var(--primary1);
  margin: -8rem -2rem;
  height: 100%;
  flex-direction: column;
  gap: 1.2rem;
  width: 100%;
  text-align: left;
  pointer-events: auto;
  opacity: 1;
  z-index: 99;
  overflow-y: auto;
  align-items: center;
  transition: 0.5s;
  height: 0;
  opacity: 0;
}

#about.hidden, #credits.hidden {

  overflow: hidden;
  transition: 0.5s;
}

#about.visible, #credits.visible {
  height: 100%;
  opacity: 1;
}

#about > *, #credits > * {
  max-width: min(50vh,100vw);
}


#credits a {
  color: var(--primary2);
}

#credits img {
  mix-blend-mode: screen;
}

#wallpaperNotice {
  pointer-events: auto;
  cursor: pointer;
  height: 1rem;
  display: inline-block;
  overflow: hidden;
  transition: height 0.5s;
}

#wallpaperNotice:hover {
  pointer-events: auto;
  cursor: pointer;
  height: 2.4rem;
  transition: height 0.5s;
}

@media (orientation: landscape) {
  .layoutA .poem {
    flex-direction: row;
  }
}

@media (orientation: portrait) {
  .layoutA .poem {
    flex-direction: column;
    height: 75%;
  }
}